html {
  padding: 0;
}
body {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}
#header-background {
  margin: 0;
  background-color: #b1bcf8;
  width: 100%;
  display: flex;
  justify-content: center;
}
form > * {
  width: 280px;
}
form {
  display: flex;
  flex-direction: column;
  background-color: rgb(175, 197, 197);
  gap: 4px;
  margin-top: 15px;
  align-items: center;
  padding: 15px;
  border-radius: 5%;
}
form > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
form > button {
  width: 54px;
}
#board {
  display: flex;
  justify-content: center;
  width: 90%;
  max-width: 1386px;
  flex-wrap: wrap;
}
#board > * {
  width: 250px;
  height: 250px;
  background-color: beige;
  margin: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
#board > * > button {
  position: absolute;
  bottom: 10px;
}
#board > * > * {
  max-width: 90%;
  overflow-wrap: break-word;
  padding: 2px;
}
#board > * > p {
  margin-bottom: 55px;
  overflow: hidden;
}
#delete-all {
  margin-top: 25px;
}
