.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
:root {
  --hand-cursor: url("pictures/icons8-hand-up-32.png") 10 0, auto;
  --edit-pen-cursor: url("pictures/edit-pen-icons8.png"), auto;
  --3d-pointer: url("pictures/icons8-3d-pointer-32.png"), auto;
  --primary-green: #73a383;
  --gap-body: 25px;
  --default-font-family: "Roboto", sans-serif;
  --default-font-weight: 400;
  --default-font-style: normal;
  --form-control-color: rebeccapurple;

}
html {
  padding: 0;
  scrollbar-color: #a7c9b6 #f0f0f0; /* thumb color, track color */
  scrollbar-width: thin;
  font-family: var(--default-font-family);
  font-weight: var(--default-font-weight);
  font-style: var(--default-font-style);
}
body {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--gap-body);
}
#div-header {
  height: 100%;
  background-image: linear-gradient(#82bc90, var(--primary-green));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#main-h1 {
  font-size: 4rem;
  text-shadow: 2px 2px 5px #0000007a;
  background-image: url("pictures/trädgård.jpg");
  background-clip: text;
  color: transparent;
  margin: 0 5% 0 5%;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}
#main-h1 > div {
  word-break: keep-all;
}
#board {
  display: flex;
  justify-content: center;
  width: 90%;
  max-width: 1386px;
  flex-wrap: wrap;
}
#board > * {
  width: 250px;
  height: 250px;
  background-color: beige;
  margin: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
  box-shadow: 2px 5px 10px rgb(131, 131, 131);
}
#board > * > button {
  position: absolute;
  bottom: 10px;
}
#board > * > * {
  max-width: 90%;
  overflow-wrap: break-word;
  padding: 2px;
}
#board > * > p {
  margin-bottom: 55px;
  overflow: hidden;
}
#delete-all {
  margin-top: 25px;
}
.parent {
  display: grid;
  grid-template-columns: minmax(min-content, 35%) 1fr;
  grid-template-rows: 50px 70px;
  max-width: 500px;
}
.custom-grid {
  display: grid;
  grid-template-columns: 250px 250px;
  grid-template-rows: 50px 70px;
  width: 500px;
}

.custom-grid > div {
  background-color: lightgreen;
  border: 1px ridge gray;
}
.parent > div {
  background-color: lightgreen;
  border: 1px ridge gray;
}

.parent > div:nth-child(2n) {
  background-color: aqua;
  border: 1px ridge gray;
}
html {
  cursor: var(--3d-pointer);
}
button,
a {
  cursor: var(--hand-cursor);
}
#custom-viewport {
  border: 3px solid black;
}
.form-control {
  font-size: 1rem;
  font-weight: 400;
  cursor: var(--hand-cursor);
  padding-right: 7px;
  margin-right: -7px;

}
input[type="radio"] {
  -webkit-appearance: none;
  cursor: var(--hand-cursor);
  appearance: none;
  margin: 0;
  font: inherit;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 100%;
  display: grid;
  place-content: center;
  background-color: rgb(168, 168, 168);

}
input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 100%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: CanvasText;
}
.radio-group-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: fit-content;
}
input[type="radio"]:checked::before {
  transform: scale(1);
}
.label-and-radio-input {
  display: flex;
  flex-direction: row;
  width: fit-content;
  gap: 0.3rem;
  &:hover {
    color: var(--form-control-color);
  }
}

@media only screen and (max-width: 420px) {
  #main-h1 {
    margin: -5px 10% 0 10%;
    gap: 0px;
  }
}
